/*
================================================================================
Variables
================================================================================
*/
:root {
  --font: normal 400 16pt/130% monospace;

  --c-dark:  #212121;
  --c-light: #c0c0c0;
  --c-bg:    #ffffff;

  --border: 1px solid;

  --base: 6px;
}



/*
================================================================================
Wrapper
================================================================================
*/
* {
  margin:  0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  display: grid;
  justify-items: center;
}



/*
================================================================================
Button
================================================================================
*/
#b,
#e {
  border: var(--border) var(--c-dark);
  border-radius: calc(var(--base) / 3);
  background: var(--c-bg);
  padding: var(--base) calc(var(--base) * 2);
}
#b:hover,
#e:hover,
#b:focus,
#e:focus {
  cursor: pointer;
  background: var(--c-dark);
  color: var(--c-bg);
}

#b:disabled,
#e:disabled {
  border: var(--border) var(--c-light);
  color: var(--c-light);
}
#b:disabled:hover,
#e:disabled:hover {
  background: var(--c-light);
  color: var(--c-dark);
}



/*
================================================================================
Text
================================================================================
*/
#cards,
#score,
#b,
#e,
.noscript {
  font: var(--font);
  color: var(--c-dark);
}

#cards,
#score,
#e { margin-top: calc(var(--base) * 2); }
